# Ignorar archivos generados
build/
install/
log/
*.pyc
__pycache__/
.colcon/

src/*
!src/reto_closedloop/
!src/reto_closedloop/**

# Ignorar configuraciones del editor
.vscode/
src/.vscode/

# Ignorar paquetes y archivos innecesarios
src/Coppelia/
src/SimExeWin/
src/act1_2/
src/act1_3.ttt
src/mi_robot_sim/
src/mini3/
src/path_pkg/
src/puzzlebot_control/
src/py_pubsub/
src/retroVisual.ttt
